<!doctype html>
<html lang="en">

<head>
    <title>Fliper | Add Review</title>
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAS1BMVEX///+AAIB7AHt2AHbw6PDCoMKRO5H//f95AHm7h7vLocuzhbOPK4/38/e+mL5wAHDZxNmwgLCxfLGHH4fCksKLHovRqtGNMI3JqsmSjkJ2AAABYklEQVR4nO3dS1LCQABFUQyi+AFU/O1/pc4cUwkVbuDcFbwz7u7q1Wpcu/1m5t5GLh3b/WGYt/X73ML13bwNL4SEhISEhISEhISEhISEhISEhISEhISEhISEhIR14dnOgD+iwoeZd50vwn/h46WXjo2QsB8hYT9Cwn6EhP0ICfsREvYjJOxHSNiPkLAfIWE/QsJ+hIT9CAn7ERL2IyTsR0jYj5CwH+ENCS89dHSnCo9PE/pcgnDKq6Dt1yKEU3olJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkXJRw2I5vEWfAx+cJfS9BeP13MW7gPg1hNkLCfoSE/QgJ+xES9iMk7EdI2I+QsB8hYT9Cwn6EhP0ICfsREvYjJOxHSNiPkLAfIWE/QsJ+hIT9CAn7ERL2IyTsR0jYj5CwHyFhP0LCfoSE/QgJ+xES9iMk7Ed4BcLDaZ80/ixWuNtvTur30kNXfw/gT52/+Q7JAAAAAElFTkSuQmCC"
        type="image/x-icon">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<nav class="navbar fixed-top navbar-expand-sm" style="background-color: #571496;">
    <h1 style="color: white;">FLIPER</h1>
</nav>

<body style="background-color: #571496;height: auto;">
    <nav class="navbar fixed-top navbar-expand-sm" style="background-color: #571496;">
        <h1 style="color: white;">FLIPER</h1>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div style="padding-top: 50px;" class="container">

            <h1>Add a Review :</h1>
            <hr style="background-color: grey;width:1000px ;float: left;">
            <br> <br>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Product :</label>
                    <input style="width: 350px;" type="text" class="form-control" name="title" id="tite" aria-describedby="helpId" placeholder="">
                </div>

                <div class="form-group">
                    <label for="content">content :</label>
                    <textarea style="width: 350px;" class="form-control" name="content" id="content" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select style="width: fit-content;" class="form-control" name="status" id="status">
                <option value="0">Draft</option>
                <option value="1">Publish</option>
              </select>
                </div>
                <label for="myfile">Select a file:</label>
                <input type="file" id="myfile" name="myfile"><br><br>
                <br>
                <button style="background-color:#571496 ;float: right;color: white;margin-right: 83px;" type="submit" class="btn btn-lg">Add</button>
                <br>
            </form>
        </div>
    </div>

    <p style="color: white;float: right;margin-top: 10px;margin-right: 75px;">Contact us on: +249 110070067<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; All Rights Reserved to <strong>Fliper</strong> Inc. &copy;</p>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>